matplotlib==3.4.3
numpy
scipy
librosa==0.9.2
tensorboard
soundfile
matplotlib
ffmpeg
tqdm
pandas
numba==0.58
speechbrain
pyloudnorm
kaldiio
noisereduce
pypinyin
espnet==202310
espnet_model_zoo
praat-parselmouth
