matplotlib==3.4.3
numpy
scipy
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.0.1+cu117
torchvision==0.15.2+cu117
torchaudio==2.0.2+cu117
librosa==0.10.1
tensorboard
soundfile
matplotlib
ffmpeg
tqdm
pandas
numba==0.58
speechbrain
pyloudnorm
kaldiio
noisereduce
phonemizer
pypinyin
espnet==202310
espnet_model_zoo
praat-parselmouth
